.selected .recipe-node {
  box-shadow: 0 0 8px 4px rgba(59, 130, 246, 0.5), 0 0 12px 4px rgba(59, 130, 246, 0.3) inset;
  outline: 2px solid rgb(147, 197, 253);
  @apply texture-riveted;
}

@utility productHighlight {
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.8), 0 0 12px 4px rgba(255, 255, 255, 0.53) inset;
  outline: 2px solid rgb(255, 255, 255);
  scale: 1.5
}

.react-flow__node:hover {
  z-index: 2000 !important;
}

.shift-held .react-flow__node:hover {
  & [data-zoomlevel] {
    transition: scale 0.1s ease-out
  }

  & [data-zoomlevel="1"] {
    scale: 1.5;
  }

  & [data-zoomlevel="2"] {
    scale: 2.5;
  }

  & [data-zoomlevel="3"] {
    scale: 3.5;
  }
}

.recipe-input {
  &[data-highlight="true"] {
    @apply productHighlight;
  }

  &[data-muted="true"] {
    opacity: 0.3;
  }

  &[data-connected="true"]:not([data-highlight="true"]) {
    .handle .clipped {
      display: block;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 70% 50%);
    }
  }
}

.recipe-output {
  &[data-highlight="true"] {
    @apply productHighlight;
  }

  &[data-muted="true"] {
    opacity: 0.3;
  }

  &[data-connected="true"]:not([data-highlight="true"]) {
    .handle .clipped {
      display: block;
      clip-path: polygon(0 0, 40% 0, 100% 50%, 40% 100%, 0 100%);
    }
  }
}

.react-flow__edges svg {
  &:has(.edgeAlert) {
    /* has to override element style */
    z-index: 1000 !important;
  }
}

.react-flow__edge-path.baseEdge {
  stroke-width: 4;
  stroke-dasharray: 0 0;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  /*  stroke-dasharray: 5000;
   stroke-dashoffset: 5000; */
  animation: none;

  .selected & {
    animation: edgePulse 1s ease-in-out infinite;
  }

  &.highlightFlow {
    filter: drop-shadow(0 0 1rem #aaf);
    stroke-width: 8;
    stroke-dasharray: 30 20;
    stroke-dashoffset: 10;
    animation: buttonEdgeDash 1s linear infinite;
  }

  &.mutedFlow {
    opacity: 0.3;
  }

  &.edgeAlert {
    stroke: #ff0000;
    animation: buttonEdgeAlert 1s linear infinite;
    filter: drop-shadow(0 0 0.75rem crimson);
  }
}

.edgeDeleteButton button {
  width: 2em;
  height: 2em;
  background: #000;
  border: 4px solid;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2em
}

@keyframes buttonEdgeDash {
  from {
    stroke-dashoffset: 50;
  }

  to {
    stroke-dashoffset: 0;

  }
}

@keyframes buttonEdgeAlert {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes edgePulse {
  0% {
    stroke-width: 12;
    stroke-opacity: 0.5;
  }

  50% {
    stroke-width: 16;
    stroke-opacity: 1;
  }

  100% {
    stroke-width: 12;
    stroke-opacity: 0.5;
  }
}

@keyframes crawl {
  to {
    stroke-dashoffset: 0;
  }
}

.edgeAlert {
  z-index: 1000 !important
}

:has( > .filterGreenShift) {
  .filterGreenShift {
    filter: drop-shadow(0 100px 0 var(--color-green-600));
    @apply -translate-y-[100px];
  }

  overflow: hidden;
}

/* Annotation node markdown content styles */
.annotation-content {
  text-align: center;
  @apply text-xl p-4;

  & h1 {
    @apply text-6xl font-bold mb-4 ;
  }

  & h2 {
    @apply text-4xl font-semibold mb-4;
  }

  & h3 {
    @apply text-2xl font-semibold mb-2;
  }

  & p {
    @apply text-lg mb-1;

    &:last-child {
      @apply mb-0;
    }
  }

  & ul,
  & ol {
    @apply mb-1 pl-4;
  }

  & ul {
    @apply list-disc;
  }
  & ol {
    @apply list-decimal;
  }

  & li {
    @apply mb-0;
  }

  & code {
    @apply bg-gray-800 px-1 rounded;
  }

  & a {
    @apply underline;
  }

  & blockquote {
    @apply border-l-2 pl-2 italic;
  }
}
